<h1>New Portfolio</h1>

<%= form_for @portfolio do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Create Portfolio" %>
<% end %>